
<div class="container">
  <h2>Mot de passe oublié</h2>
  <form [formGroup]="forgotForm" (ngSubmit)="onSubmit()">
    <label for="email">Email</label>
    <input
      id="email"
      type="email"
      formControlName="email"
      placeholder="Entrez votre adresse email"
    />
    <div *ngIf="forgotForm.get('email')?.invalid && forgotForm.get('email')?.touched" class="error">
      Email invalide
    </div>

    <button type="submit" [disabled]="loading">Envoyer</button>
  </form>

  <p class="message success" *ngIf="message">{{ message }}</p>
  <p class="message error" *ngIf="error">{{ error }}</p>

 
</div>

 <!-- Bouton retour -->
 <button class="back-button" (click)="goToLogin()" [disabled]="loading">Retour à la connexion</button>
