<div class="dashboard-container">
    <!-- Header -->
    <header class="header">
        <div class="logo-container">
            <img src="imagelogoParking.png" alt="Parking Logo" class="logo">
        </div>


        <h2 class="search-text">Gestions des utilisateurs</h2>



        <div class="header-icons">
            <button class="notification-button">
                <img src="not.png" alt="Notifications" class="header-icon" />
                <span class="notification-badge">3</span>
            </button>
            <button class="settings-button">
                <img src="par.png" alt="Settings" class="header-icon" />
            </button>
        </div>
    </header>

    <!-- Main Content -->
    <div class="content-container">
        <!-- Sidebar -->
        <div class="sidebar">
            <nav class="nav-menu">
                <a class="nav-item" [routerLink]="['/dashboard-admin']">
                    <img src="home.png" alt="Accueil" class="nav-icon">
                    <span>Accueil</span>
                </a>
                <a class="nav-item" [routerLink]="['/historiques-reservations']">
                    <img src="file.png" alt="Historiques" class="nav-icon">
                    <span>Historiques</span>
                </a>
                <a class="nav-item" [routerLink]="['/gestions-utilisateurs']">
                    <img src="group.png" alt="Utilisateurs" class="nav-icon">
                    <span>Utilisateurs</span>
                </a>
                <a class="nav-item ">
                    <img src="total.png" alt="Parkings" class="nav-icon">
                    <span>Parkings</span>
                </a>
            </nav>
            <div class="logout-container">
                <hr class="logout-divider">
                <a class="logout-button">
                    <img src="deconnexion.png" alt="Déconnexion" class="logout-icon">
                    <span>Déconnexion</span>
                </a>
            </div>
        </div>


    </div>