<div class="dashboard-container">
    <!-- Header -->
    <header class="header">
        <div class="logo-container">
            <img src="imagelogoParking.png" alt="Parking Logo" class="logo">
        </div>

        <div class="header-icons">

            <button class="settings-button" (click)="toggleSettingsModal()">
                <img src="iconeParametre.jpg" alt="Settings" class="header-icon" />
            </button>

            <!-- Modal des paramètres -->
            <div class="settings-modal" *ngIf="showSettingsModal">
                <div class="settings-modal-content">
                    <div class="user-info">
                        <div class="user-avatar">
                            <img src="user.png" alt="Avatar" class="avatar-img" />
                        </div>
                        <div class="user-details">
                            <h3>{{ userData.nom }} {{ userData.prenom }}</h3>
                            <p class="user-email">{{ userData.email }}</p>
                            <div class="user-balance">
                                <span class="balance-label">Solde :</span>
                                <span class="balance-amount">{{ userData.solde | currency:'FCFA':'symbol':'1.2-2' }}</span>
                            </div>
                        </div>
                    </div>
                    <div class="settings-actions">
                        <a class="settings-action-link" (click)="goToEditProfile()">
                            <img src="modif.png" alt="Éditer" class="action-icon" />
                            <span>Modifier mes informations</span>
                        </a>
                        <a class="settings-action-link" (click)="goToChangePassword()">
                            <img src="mdp1.png" alt="Password" class="action-icon" />
                            <span>Changer mon mot de passe</span>
                        </a>
                    </div>
                </div>
                <div class="settings-modal-arrow"></div>
            </div>
        </div>
    </header>

    <!-- Main Content -->
    <div class="content-container">
        <!-- Sidebar -->
        <div class="sidebar">
            <nav class="nav-menu">
                <a class="nav-item" [routerLink]="['/dashboard-admin']">
                    <img src="home.png" alt="Accueil" class="nav-icon">
                    <span>Accueil</span>
                </a>
                <a class="nav-item" [routerLink]="['/historiques-reservations']">
                    <img src="file.png" alt="Historiques" class="nav-icon">
                    <span>Historiques</span>
                </a>
                <a class="nav-item" [routerLink]="['/gestions-utilisateurs']">
                    <img src="group.png" alt="Utilisateurs" class="nav-icon">
                    <span>Utilisateurs</span>
                </a>
                <a class="nav-item" [routerLink]="['/liste-parking']">
                    <img src="total.png" alt="Parkings" class="nav-icon">
                    <span>Parkings</span>
                </a>

                <a class="nav-item" [routerLink]="['/minibank']">
                    <img src="bank.png" alt="Bank" class="nav-icon">
                    <span>MiniBank</span>
                </a>
            </nav>
            <div class="logout-container">
                <hr class="logout-divider">
                <a class="logout-button">
                    <img src="deconnexion.png" alt="Déconnexion" class="logout-icon">
                    <span>Déconnexion</span>
                </a>
            </div>
        </div>

        <!-- Modal de modification d'utilisateur -->
        <div class="modification-container">
            <div class="modification-card">
                <div class="logo-container">
                    <img src="imagelogoParking.png" alt="Logo" class="logo">
                </div>

                <h1>Modifier ses informations</h1>

                <form [formGroup]="modificationForm" (ngSubmit)="onSubmit()">
                    <div class="form-row">
                        <div class="form-group">
                            <label for="nom">Nom<span class="required">*</span></label>
                            <input type="text" id="nom" formControlName="nom" placeholder="Entrer votre nom" [ngClass]="{'is-invalid': isFieldInvalid('nom')}">
                            <div *ngIf="isFieldInvalid('nom') && modificationForm.get('nom')?.value" class="error-message">Le nom est obligatoire</div>
                        </div>

                        <div class="form-group">
                            <label for="prenom">Prenom<span class="required">*</span></label>
                            <input type="text" id="prenom" formControlName="prenom" placeholder="Entrer votre prenom" [ngClass]="{'is-invalid': isFieldInvalid('prenom')}">
                            <div *ngIf="isFieldInvalid('prenom') && modificationForm.get('prenom')?.value" class="error-message">Le prénom est obligatoire</div>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group">
                            <label for="email">Email<span class="required">*</span></label>
                            <input type="email" id="email" formControlName="email" placeholder="Entrer votre email" [ngClass]="{'is-invalid': isFieldInvalid('email')}">
                            <div *ngIf="isFieldInvalid('email') && modificationForm.get('email')?.value" class="error-message">Veuillez entrer un email valide</div>
                        </div>

                        <div class="form-group">
                            <label for="telephone">Telephone<span class="required">*</span></label>
                            <input type="tel" id="telephone" formControlName="telephone" placeholder="Entrer votre numero de telephone" [ngClass]="{'is-invalid': isFieldInvalid('telephone')}">
                            <div *ngIf="isFieldInvalid('telephone') && modificationForm.get('telephone')?.value" class="error-message">Veuillez entrer un numéro valide (9 chiffres)</div>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group">
                            <label for="adresse">Adresse de residence<span class="required">*</span></label>
                            <input type="text" id="adresse" formControlName="adresse" placeholder="Entrer votre adresse" [ngClass]="{'is-invalid': isFieldInvalid('adresse')}">
                            <div *ngIf="isFieldInvalid('adresse') && modificationForm.get('adresse')?.value" class="error-message">L'adresse est obligatoire</div>
                        </div>
                    </div>

                    <div *ngIf="error" class="alert-error">
                        {{ error }}
                    </div>
                    <div *ngIf="success" class="alert-success">
                        Modification réussie! Vous allez etre rediriger vers la page deconnexion.
                    </div>

                    <div class="button-container">
                        <button type="submit">Modifier</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>